name: Test on PR
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.18.2

      - name: Install Dependencies
        run: yarn install

      - name: Clear Cache
        run: npx jest --clearCache

      - name: Test
        run: yarn test
